body {
	transition: 5s;
	margin: 0;
	background-image: url("../Images/Accueil/background.jpg");
	background-size: cover;
	position:relative;
}

a {
	text-decoration: none !important;
	color: initial !important;
}

.navbar {
	width: 100%;
	height: 100%;
	background-color: #60a9e6;
}

#container {
	z-index: -1;
	background-color:white;
	color: #04356C;
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;
	border-radius: 20px;
	padding-bottom: 2%;
}

h1,
h3 {
	text-align: center ;
}

h1 {
	background-color: #60a9e6;
	margin-left: 35%;
	margin-right: 35%;
	border-radius: 15px;
}

#actus {

	border: 0px black solid;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}

#actu1,
#actu2,
#actu3 {
	background-color: #60a9e6;
	width: 25%;
	height: 100%;
	text-decoration: none;
	border-radius: 20px;
}

#actu1:hover,
#actu2:hover,
#actu3:hover {
	box-shadow: 2px 2px 10px #60a9e6;
}

#actu1,
#actu2 {
	margin-bottom: 5%;
}

article {
	margin: 0 5% 0 5%;
	text-align: justify;
}

#img1,
#img2,
#img3 {
	text-align: center;
}

#menuculture {
	display: none;
	position: absolute;
	background-color: #60a9e6;
}

.nav-item-culture:hover #menuculture {
	display: block;
	color: #60a9e6;
}

li {
	list-style-type: none;
}

.dropbtn {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin-left: -25%;

}

li a:hover,
.dropdown:hover .dropbtn {
	background-color: #60a9e6;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 160px;
	background-color: #60a9e6;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#accesrapide {

	width: 40%;
	margin-left: 7%;
	background-color: #60a9e6;
	border-radius: 20px;
}

#menuaccesrapide {
	font-size: 0.8em;
	border-radius: 20px;
	margin-left: 2%;
	margin-right: 10%;
}


#alire {
	width: 40%;
	border-radius: 20px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #60a9e6;
	border-radius: 20px;
}

h2 {
	text-align: center;
}

.main_footer {
	text-align: center;
	background-color: white;
	size: 20%;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 1.5em;
	border-radius: 2em;
	margin-top: 2%;
}
.flex-container , #actus {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  }

#presentation{
	width:100%;
	
}

#texte{
	width:30%;
	position: absolute;
	top: 0vh;
	left: 5vh;
	margin-top:300px;
	font-family: 'comic sans ms';
	transform: translateX(-100%);
	color : black;
	animation : slide-in 3s ease-out forwards;
}


@keyframes slide-in {
	100% {
		transform: translateX(0%);
	}
}

@keyframes txt-appearance {
	100% {
		color :black;
	}
}

#cc{
	max-height: 100%;
	height: 920px;
	margin-right: 0px;
	width: 100%;
}



@media screen and (max-width: 700px){
	#img1,#img2,#img3{
		display : none;
	}
	h1{
		margin-left:0px;
		margin-right:0px;
	}
	h3{
		font-size: small;
	}
	#container{
		padding-left: 2%;
		padding-right: 2%;
	}
	#actus  {
		 flex-direction: column;
		
	}
	#actu1 {
		height:auto;
		 width:100%;
		
	}
	#actu2 {
		height:auto;
		 width:100%;
		
	}
	#actu3  {
		height:auto;
		 width:100%;
		 margin-bottom: 10px;
		
	}
	
	#accesrapide{
		padding-left:-10px;
		margin-left:-10px;
	
		
	}
	#alire{
		padding:0;
		margin-left:-10px;
	}
	#menuaccesrapide{
		margin:0;
		margin-left:-10px;
		
	}
	#presentation{
		display: none;
	}
	
	
}
@media (min-width : 700px) and (max-width: 1200px){

	#img1{
		display : none;
	}
	.flex-container{
		margin-top: 10px;
	}
	#presentation{
		display: none;
	}
	#actu2{
		width: 40%;
	}

	#actu3{
		width: 30%;
	}
}