@import url("shared_css.css");

#titre {
	text-align: center;
}

#info {
	font-size: medium;
	color: black;
	margin-right: 5%;
	margin-left: 5%;
	text-align: justify;
	padding-bottom: 2%;
}

#imgmaladerie {
	float: left;

}

#art {
	margin-left: 20%;
	text-align: justify;
}

#imgart {
	text-align: center;
}

#textecole {
	display: block;
	margin-top: 2%;
}

#map{
	position : relative;
	margin-left: 20%;
	margin-top: 5%;
	margin-right: auto;
}

@media (max-width: 700px) {
	#imgmaladerie {
		float: left;
		padding: none;


	}

	#imgart {
		text-align: left;
		display: none;

	}

	.main_footer {
		font-size: 00.1em;
		text-align: center;
		background-color: white;
		size: 10%;
		margin-right: 10%;
		margin-left: 10%;
		font-size: 1.5em;
		border-radius: 2em;
		margin-top: 2%;
	}

	a {
		text-decoration: none !important;
		color: initial !important;
		font-size: small;
		
	}

	img{
		display : none;
	}

	
	#art {
		display : block;
		margin-left : 0;
	}
	#map{
		width: 50%;
		height: 50%;
		margin-left: 20%;
		margin-top: 5%;

	}
	
}

@media (max-width: 1200px) {

	#map{
		width: 50%;
		height: 50%;
		margin-left: 25%;
		margin-top: 5%;

	}

}