body {
	background-color: white;
	transition: 5s;
	background-image: url("../Images/Accueil/background.jpg");

	background-size: cover;

}

.navbar {
	border: 0px solid black;
	width: 100%;
	height: 100%;
	background-color: #60a9e6;
}


h1 {
	text-align: center;
	color: #60a9e6;

}

#titre {
	color: black;
	margin-top: 5%;
	margin-left: 3%;
	background-color: #60a9e6;
	margin-right: 5%;
	border-radius: 5em;
	text-align: center;
}

body {
	background-color: #FFF;
	transition: 5s;

}

.navbar {
	border: 0px solid black;
	width: 100%;
	height: 100%;
	background-color: #60a9e6;
}

#encadrer {
	z-index: -1;
	min-height: 45vw;
	background-color: white;
	color: #60a9e6;
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;
	border-radius: 20px;
	border: 0px solid black;
	margin-bottom: 1%;
	padding-bottom: 2%;
}

#info {

	color: black;
	margin-right: 5%;
	margin-left: 5%;
	text-align: justify;
}

#menuculture {
	display: none;
	position: absolute;
	background-color: #60a9e6;



}

.nav-item-culture:hover #menuculture {
	display: block;
	color: #60a9e6;


}

li {
	list-style-type: none;
}

.dropbtn {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin-left: -25%;

}

li a:hover,
.dropdown:hover .dropbtn {
	background-color: #60a9e6;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 160px;
	background-color: #60a9e6;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#imgmaladerie {
	float: left;

}

#art {
	margin-left: 20%;
	text-align: justify;
}

#imgart {
	text-align: center;
}

h3 {
	background-color: #60a9e6;
}

#textecole {
	display: block;
	margin-top: 2%;
}

#menuactu {
	display: none;
	position: absolute;
	background-color: #60a9e6;



}

.nav-item-actu:hover #menuactu {
	display: block;
	color: #60a9e6;


}

#menutransport {
	display: none;
	position: absolute;
	background-color: #60a9e6;



}

.nav-item-transport:hover #menutransport {
	display: block;
	color: #60a9e6;


}

#menuclimat {
	display: none;
	position: absolute;
	background-color: #60a9e6;



}

.nav-item-climat:hover #menuclimat {
	display: block;
	color: #60a9e6;


}

#menupolitique {
	display: none;
	position: absolute;
	background-color: #60a9e6;



}

.nav-item-politique:hover #menupolitique {
	display: block;
	color: #60a9e6;


}

#menuhabitat {
	display: none;
	position: absolute;
	background-color: #60a9e6;



}

.nav-item-habitat:hover #menuhabitat {
	display: block;
	color: #60a9e6;


}

#menudechet {
	display: none;
	position: absolute;
	background-color: #60a9e6;



}

.nav-item-dechet:hover #menudechet {
	display: block;
	color: #60a9e6;


}

#menutourisme {
	display: none;
	position: absolute;
	background-color: #60a9e6;



}

.nav-item-tourisme:hover #menutourisme {
	display: block;
	color: #60a9e6;


}

#présentation {
	margin-left: 5%;
	margin-top: 2%;

}

#légende {
	margin-left: 70%;
	margin-top: -30%;
}


#info {
	margin-left: 2%;
	margin-top: 5%;
	text-align: center;
}




@media screen and (min-width : 601px) and (max-width: 900px) {
	img {
		width: 40%;

	}

}

@media screen and (max-width : 600px) {
	img {
		width: 60%;


	}
}

a {
	text-decoration: none !important;
	color: initial !important;
}

.main_footer {
	text-align: center;
	background-color: white;
	size: 20%;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 1.5em;
	border-radius: 2em;
}