@import url("shared_css.css");

h1 {
    text-align: center;
    padding-top:3%;
    padding-bottom: 3%;
    border:2px solid black;
}

#présentation {
    margin-left: 5%;
    margin-top:5%;
    display: flex;
    align-items: center;
    gap:20%;
}

#légende {
    display: flex;
    flex-direction: column;
}

#info {
    margin-top: 5%;
    text-align: center;
}

@media screen and (max-width: 700px) {
    h1{
        font-size: 1.8em !important;
    }

    #présentation{
        flex-wrap: wrap;
    }

    #pres{
        width: 600px;
    }

    #légende{
        padding-top:5%;
        flex-direction: row;
        justify-content: center;
    }

    .leg > img{
        width:100%;
    }

    #commune{
        width:100%;
    }

    footer{
        display: none !important;
    }
}

@media (min-width : 700px) and (max-width: 1200px){
    h1{
        font-size: 1.8em !important;
    }

    #pres{
        width: 800px;
    }

    #présentation{
        flex-wrap: wrap;
    }

    #légende{
        padding-top:5%;
        flex-direction: row;
        justify-content: center;
    }

    footer{
        margin: 5% 0 0 0 !important;
    }
}