@import url("shared_css.css");

h1 {
	text-align: center;
	padding-top:3%;
	padding-bottom: 3%;
	margin-bottom: 3% !important;
	border:2px solid black;
}

h2{
	padding-top: 2%;
	padding-bottom: 2%;
}

hr.seperateur{
	border:3px solid black;
	margin-top: 2%;
}

#sites{
	margin-right: 5%;
	margin-left: 5%;
	text-align: justify;
}

#cathé,#chateau{
	display:flex;
	gap:50px;
	align-items: center;
}

#chateau{
	gap:20%;
}

#map{
	width:100%;
	margin:auto;
}

@media screen and (max-width: 700px) {
	h1{
		font-size: 1.8em !important;
	}

	h2{
		font-size: 1.6em !important;
	}

	#imgcathe,#imgchato,#map{display:none;}

	footer{
		display: none !important;
	}
}

@media (min-width : 700px) and (max-width: 1200px){
	h1{
		font-size: 1.8em !important;
	}

	#imgcathe,#imgchato{display:none;}

	article{
		margin-right:-5%;
	}

	footer{
		margin: 5% 0 0 0 !important;
	}
}