@import url("shared_css.css");

h1 {
	text-align: center;
	padding-top:3%;
	padding-bottom: 3%;
	margin-bottom: 3% !important;
	border:2px solid black;
}

h2{
	padding-top: 2%;
	padding-bottom: 2%;
}

hr.seperateur{
	border:3px solid black;
	margin-top: 2%;
}

#sites{
	margin-right: 5%;
	margin-left: 5%;
	text-align: justify;
}

#cathé,#chateau{
	display:flex;
	gap:50px;
	align-items: center;
}

#chateau{
	gap:20%;
}

#map{
	width:100%;
	margin:auto;
}

@media screen and (max-width: 1200px){
	iframe{display:none;}
	img{display:none;}
	body{
		margin: 0;
		background-color: #0a53be;
	}
	#texte1,#texte3,#adresse{margin-top:0%;margin-left: 0%;}
}