@import url("shared_css.css");

h1{
	text-align: center;
	color: #60a9e6;
}

h3 {
	background-color: #60a9e6;
	border-radius: 2em;
}

.Trotinettes {
	width: 70%;
	display: block;
	margin: 5% auto 10%;
}

article {
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 4%;
}

#numéro {
	text-align: center;
	margin-bottom: 2em;
	border-radius: 2em;
	margin-top: 20px;
}

.mx-auto {
	margin-right: 10%;
}

#Titre {
	text-align: center;
}

#titre2 {
	border-radius: 50px !important;
	text-align: center;
}

.Info {
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
}

.Conseil {
	margin-top: 3%;
	margin-left: 5%;
	padding-bottom: 3%;
}