@import url("shared_css.css");

h1 {
	text-align: center;
	padding-top:3%;
	padding-bottom: 3%;
	border:2px solid black;
}

.case_odd > h3, .case_even > h3 {
	text-align: center;
	padding-top: 3%;
}

.Trotinettes{
	width: 60%;
	margin: 2% 10% 2% 20%;
}

article{text-align: justify}

.cases{
	width:50%;
	margin-left:27.5%;
	display: flex;
	flex-wrap:wrap;
	gap:20px;
}

.case_odd, .case_even{
	width:45%;
	background-color: #f8f9fa;
	border:1px solid black;
	border-collapse: collapse;
}

article{
	margin: 5% 10%;
}

.Conseil {
	justify-content: center;
	margin-top:2%;
	text-align: center;
}

@media screen and (max-width: 700px) {
	.cases{
		width:80%;
		margin-left: 10%;
		margin-right:10%;
	}

	.case_odd, .case_even{width:100%;}

	footer{
		display: none !important;
	}
}

@media (min-width : 700px) and (max-width: 1200px) {
	article{
		font-size:0.8em;
	}

	footer{
		margin: 0 0 0 0 !important;
	}
}