body {
	background-image: url("../Images/Accueil/background.jpg");
	transition: 5s;
	background-size: cover;

}

.navbar {
	border: 0px solid black;
	width: 100%;
	height: 100%;
	background-color: #60a9e6;
}

#container {
	z-index: -1;
	min-height: 60vw;
	background-color: white !important;
	color: #04356C;
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;
	border-radius: 20px;
}

#titre {
	text-align: center;
	color: #60a9e6;
}

#info {
	color: black;
	margin-right: 5%;
	margin-left: 5%;
	text-align: justify;
}

#menuculture {
	display: none;
	position: absolute;
	background-color: #60a9e6;
}

.nav-item-culture:hover #menuculture {
	display: block;
	color: #60a9e6;

}

li {
	list-style-type: none;
}

.dropbtn {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin-left: -25%;
}

li a:hover,
.dropdown:hover .dropbtn {
	background-color: #60a9e6;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 160px;
	background-color: #60a9e6;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#imgmaladerie {
	float: left;
}

#art {
	margin-left: 20%;
	text-align: justify;
}

#imgart {
	text-align: center;
}

h3 {
	background-color: #60a9e6;
	border-radius: 2em;
}

#textecole {
	display: block;
	margin-top: 2%;
}

#menuactu {
	display: none;
	position: absolute;
	background-color: #60a9e6;

}

.nav-item-actu:hover #menuactu {
	display: block;
	color: #60a9e6;
}

#menutransport {
	display: none;
	position: absolute;
	background-color: #60a9e6;

}

.nav-item-transport:hover #menutransport {
	display: block;
	color: #60a9e6;

}

#menuclimat {
	display: none;
	position: absolute;
	background-color: #60a9e6;

}

.nav-item-climat:hover #menuclimat {
	display: block;
	color: #60a9e6;

}

#menupolitique {
	display: none;
	position: absolute;
	background-color: #60a9e6;

}

.nav-item-politique:hover #menupolitique {
	display: block;
	color: #60a9e6;

}

#menuhabitat {
	display: none;
	position: absolute;
	background-color: #60a9e6;

}

.nav-item-habitat:hover #menuhabitat {
	display: block;
	color: #60a9e6;

}

#menudechet {
	display: none;
	position: absolute;
	background-color: #60a9e6;

}

.nav-item-dechet:hover #menudechet {
	display: block;
	color: #60a9e6;
}

#menutourisme {
	display: none;
	position: absolute;
	background-color: #60a9e6;

}

.nav-item-tourisme:hover #menutourisme {
	display: block;
	color: #60a9e6;

}

.paragraphe {
	margin-left: 150px;
	margin-top: 10%;
}

.Trotinettes {
	width: 70%;
	display: block;
	margin: 5% auto 10%;
}

article {

	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 4%;
}

#numéro {
	text-align: center;
	margin-bottom: 2em;
	border-radius: 2em;
	margin-top: 20px;
}

.mx-auto {
	margin-right: 10%;
}

#Titre {
	text-align: center;
}

#titre2 {
	border-radius: 50px !important;
	text-align: center;
}

.Info {
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
}

.main_footer {
	text-align: center;
	background-color: white;
	size: 20%;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 1.5em;
	border-radius: 2em;
	margin-top: 3%;
}

.Conseil {
	margin-top: 3%;
	margin-left: 5%;
	padding-bottom: 3%;
}

a {
	text-decoration: none !important;
	color: initial !important;
}