@import url("shared_css.css");

h1 {
	color: #60a9e6;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 15px;
	text-align: center;
	border: 0px solid black;
}

#cathé,
#chateau {
	margin: 0 5% 4% 5%;
	text-align: justify;
}

img {
	margin-top: 2%;
}

#texte1 {
	display: block;
	margin-left: 25%;
	margin-top: -14%;
}

iframe {
	margin-left: 35%;
	margin-top: -15%;
}

#adresse {
	margin-top: -10%;
}

#texte3 {
	display: block;
	margin-left: 25%;
	margin-top: -15%;
}

@media screen and (max-width: 1200px){
	iframe{display:none;}
	img{display:none;}
	body{
		margin: 0;
		background-color: #0a53be;
	}
	#texte1,#texte3,#adresse{margin-top:0%;margin-left: 0%;}
}